= render '/users/lead'

= link_to 'Signaler un incident', issue_steps_path, class: 'btn btn-block btn-large'
= link_to "Suivre mes incidents (#{current_user.issues.count})", my_issues_path, class: 'btn btn-block btn-large'
= link_to 'Incident autour de moi', arround_me_issues_path, class: 'btn btn-block btn-large'
