= render '/users/lead'

= link_to 'Signaler', issue_steps_path, class: 'btn btn-block btn-large btn-primary'
= link_to "Suivre mes signalement (#{current_user.issues.count})", my_issues_path, class: 'btn btn-block btn-large'
= link_to 'Signalements autour de moi', arround_me_issues_path, class: 'btn btn-block btn-large'
