.clearfix
  .issue-types
    .third
      = link_to next_wizard_path(type: 'Eclairage'), class: 'thumbnail' do
        = image_tag 'eclairage.png'
    .third
      = link_to next_wizard_path(type: 'Porte'), class: 'thumbnail' do
        = image_tag 'porte.png'
    .third
      = link_to urgence_issues_path, class: 'thumbnail' do
        = image_tag 'accident-personne.png'
    .third
      = link_to next_wizard_path(type: 'Chauffage'), class: 'thumbnail' do
        = image_tag 'chauffclim.png'
    .third
      = link_to next_wizard_path(type: 'Information voyageur'), class: 'thumbnail' do
        = image_tag 'sonorisation.png'
    .third
      = link_to next_wizard_path(type: 'Vitre'), class: 'thumbnail' do
        = image_tag 'vitre.png'
    .third
      = link_to next_wizard_path(type: 'Proprete'), class: 'thumbnail' do
        = image_tag 'proprete.png'
    .third
      = link_to next_wizard_path(type: 'Confort'), class: 'thumbnail' do
        = image_tag 'confort.png'
    .third
      = link_to next_wizard_path(type: 'Autre'), class: 'thumbnail' do
        = image_tag 'autre.png'
