.clearfix
  .issue-types
    .third
      = link_to next_wizard_path(type: 'Eclairage'), class: 'thumbnail' do
        = image_tag 'eclairage.png'
        Eclairage
    .third
      = link_to next_wizard_path(type: 'Porte'), class: 'thumbnail' do
        = image_tag 'porte.png'
        Porte
    .third
      = link_to next_wizard_path(type: 'Accident de personne'), class: 'thumbnail' do
        = image_tag 'accident-personne.png'
        Accident de personne
    .third
      = link_to next_wizard_path(type: 'Proprete'), class: 'thumbnail' do
        = image_tag 'proprete.png'
        Proprete
    .third
      = link_to next_wizard_path(type: 'Vitre'), class: 'thumbnail' do
        = image_tag 'vitre.png'
        Vitre
    .third
      = link_to next_wizard_path(type: 'Confort'), class: 'thumbnail' do
        = image_tag 'confort.png'
        Confort
    .third
      = link_to next_wizard_path(type: 'Information voyageur'), class: 'thumbnail' do
        = image_tag 'info-voyageur.png'
        Info voyageur
    .third
      = link_to next_wizard_path(type: 'Autre'), class: 'thumbnail' do
        = image_tag 'autre.png'
        Autre
