.issue-types
  .third
    = link_to next_wizard_path(type: 'light'), class: 'thumbnail' do
      = image_tag 'issue-light.png'
      Eclairage
  .third
    = link_to next_wizard_path(type: 'door'), class: 'thumbnail' do
      = image_tag 'issue-door.png'
      Porte
  .third
    = link_to next_wizard_path(type: 'radiator'), class: 'thumbnail' do
      = image_tag 'issue-radiator.png'
      Chauffage
  .third
    = link_to next_wizard_path(type: 'radiator'), class: 'thumbnail' do
      = image_tag 'issue-radiator.png'
      Vitre
  .third
    = link_to next_wizard_path(type: 'radiator'), class: 'thumbnail' do
      = image_tag 'issue-radiator.png'
      Chauffage
