%p.lead= raw "Vous etes à proximité de <b>#{@location.address}</b>"

%table.table.trains
  %tbody
  - @trains.each do |train|
    %tr.train
      %td= link_to "#{train.name} en direction de #{train.to}", next_wizard_path(train_id: train.id)
