%h2 Position dans le train
= simple_form_for @issue, url: next_wizard_path do |f|
  = f.input :in_train, as: :radio, label: false, collection: ['Tête de convoi', 'Milieu de convoi', 'Queue de convoi']
  = f.input :bottom_or_top, as: :radio, label: false, collection: ['Salle haute', 'Salle basse', 'Plateforme']
  = f.input :user_comment, label: 'Commentaire',  as: :text, hint: "Veillez décrire dans le champs ci-dessus le problème que vous rencontrez.", input_html: { rows: 3, class: 'span12' }
  = f.input :picture, label: 'Photo du signalement'
  .control-group
    .controls
      = f.button :submit, 'Signaler!', class: 'btn btn-large btn-primary btn-block span12'
