%h2
  = "Signalement #{@issue.id}"
%dl
  %dt Type
  %dd= @issue.issue_type
  - if @issue.user_comment
    %dt Commentaire client
    %dd= @issue.user_comment
  - if @issue.picture.file?
    %dt Photo
    %dd= link_to 'voir la photo', @issue.picture.url

= render '/shared/issue_infos', issue: @issue

%h3 Mettre à jour

= simple_form_for @issue, url: backoffice_issue_path(@issue) do |f|
  = f.input :state, label: 'Status', as: :radio, collection: ['En attente', 'En cours', 'Terminé', 'Rejeté']
  = f.input :comment, label:'Commentaire', as: :text, input_html: { rows: 3, class: 'span8' }
  = f.button :submit, 'Mettre à jour', class: 'btn btn-primary'
